{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="nyc.org/bikeshare"><img src="{{ config.static_url }}css/images/dot_logo_web.png" class="site-logo" /></a><a href="/">{{ config.app.name }}</a>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">

    {% if place.properties.reason %}
    <meta name="twitter:description" content="{{ place.properties.reason }}">
    {% else %}
    <meta name="twitter:description" content="{{ config.app.meta_description }}">
    {% endif %}

    <meta name="twitter:image:src" content="//api.tiles.mapbox.com/v4/openplans.map-dmar86ym/url-{{ request.get_host|urlencode:"" }}{{ config.static_url|urlencode:"" }}css%2Fimages%2Fbikeshare-red-marker-centered.png({{ place.geometry.coordinates.0 }},{{ place.geometry.coordinates.1 }})/{{ place.geometry.coordinates.0 }},{{ place.geometry.coordinates.1 }},15/600x315.png?access_token=pk.eyJ1Ijoib3BlbnBsYW5zIiwiYSI6IlF4YnlERjQifQ.E9wWa2jyjgKqCQOBmeucCw">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    {% if place.properties.reason %}
    <meta property="og:description" content="{{ place.properties.reason }}" />
    {% else %}
    <meta property="og:description" content="{{ config.app.meta_description }}" />
    {% endif %}
    <meta property="og:image" content="//api.tiles.mapbox.com/v4/openplans.map-dmar86ym/url-{{ request.get_host|urlencode:"" }}{{ config.static_url|urlencode:"" }}css%2Fimages%2Fbikeshare-red-marker-centered.png({{ place.geometry.coordinates.0 }},{{ place.geometry.coordinates.1 }})/{{ place.geometry.coordinates.0 }},{{ place.geometry.coordinates.1 }},15/600x315.png?access_token=pk.eyJ1Ijoib3BlbnBsYW5zIiwiYSI6IlF4YnlERjQifQ.E9wWa2jyjgKqCQOBmeucCw">
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">
    <meta name="twitter:image:src" content="{{ config.static_url }}css/images/suggestions-640x480.png">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
    <meta property="og:image" content="{{ config.static_url }}css/images/suggestions-640x480.png">
  {% endif%}
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
<div class="legend">
  <ul class="unstyled-list">
    <li class="service-area"><img src="{{ config.static_url }}css/images/legend-service-area.png" class="" /> Current Service Area</li>
    <li class="existing"><img src="{{ config.static_url }}css/images/legend-existing.png" class="" /> Existing Station</li>
    <li class="suggested"><img src="{{ config.static_url }}css/images/legend-suggested.png" class="" /> Suggested Station</li>
  </ul>
</div>
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
var placeFormView_setLocation = Shareabouts.PlaceFormView.prototype.setLocation;
Shareabouts.PlaceFormView.prototype.setLocation = function(locationData) {
  placeFormView_setLocation.call(this, locationData);

  var $fieldset = this.$('fieldset'),
      $approxAddress = this.$('.approx-address');

  if ($approxAddress.length === 0) {
    $approxAddress = $('<p class="approx-address"></p>').prependTo($fieldset);
  }

  $approxAddress.html('<label class="address-label">Approximate location of your suggestion</label><br>' + Handlebars.templates['location-string'](locationData));
}
</script>
{% endblock %}
